In [1]:
import requests
import pandas as pd
import numpy as np
import io

api_key = "12dbc5f0"

url_campaigns = f"https://my.api.mockaroo.com/email_campaigns_2024.json?key={api_key}"
url_performance = f"https://my.api.mockaroo.com/email_campaign_data_performance.json?key={api_key}"

response_campaigns = requests.get(url_campaigns)
response_performance = requests.get(url_performance)

if response_campaigns.status_code == 200 and response_performance.status_code == 200:
    try:
        df_campaigns = pd.read_csv(io.StringIO(response_campaigns.text))
        df_performance = pd.read_csv(io.StringIO(response_performance.text))

        print("DataFrames created successfully!")

    except Exception as e:
        print(" Failed to parse CSV:", e)
else:
    print("Request failed.")

DataFrames created successfully!

In [3]:
df_campaigns

,campaign_id\t,Compaign_name,age_group,platform,start_date,end_date,objectives,Budget
0,CAMPAIGN_021,New Arrival: Try It First,25-34,Klaviyo,8/20/2024,9/20/2024,Conversions,8085
1,CAMPAIGN_022,Fresh Drop Alert,55+,Klaviyo,9/23/2024,11/5/2024,Conversions,10854
2,CAMPAIGN_023,Don't Miss Out!,45-54,Klaviyo,12/8/2024,3/8/2025,Traffic,8672

In [5]:
df_performance.head()

,customer id,name,email,customer_status,response_type,send_date,open_date,bounce_date,subscriptions,conversions,click_date,spam_reports,revenue_generated,campaign_id\t
0,80c9bf5d-6062-4d13-9f06-d0b14911b875,Belva Grayne,bgrayne0@scribd.com,Other,No Response,9/12/2024,4/22/2024,NaN,4,2,3/15/2024,2,Rupiah,CAMPAIGN_021
1,b3639b11-3a03-4e85-9fdf-f73a72cd54a2,Kerwin Tamlett,ktamlett1@google.fr,Existing,No Response,2/18/2024,7/19/2024,6/9/2024,2,2,4/12/2024,0,Peso,CAMPAIGN_021
2,4eafb3a5-222d-48cf-84ea-158ec428bbbb,Boycie Wedderburn,bwedderburn2@g.co,Other,No Response,8/28/2024,4/30/2024,6/21/2024,4,0,4/28/2024,2,Yuan Renminbi,CAMPAIGN_022
3,6104cda5-b8f0-404f-a79d-ce76237c3fc4,Shelby Eldon,seldon3@buzzfeed.com,Other,No Response,9/30/2024,5/2/2024,11/5/2024,5,3,12/26/2024,1,Yuan Renminbi,CAMPAIGN_022
4,ce88477a-df9c-4d03-84d7-4dc2038b1675,Alexandrina Ife,aife4@mapquest.com,Other,Other,7/15/2024,9/15/2024,1/4/2025,2,0,NaN,1,Euro,CAMPAIGN_023

In [7]:
df_performance['customer_status'].unique()

array(['Other', 'Existing', 'Interested'], dtype=object)

In [9]:
df_performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer id        200 non-null    object
 1   name               200 non-null    object
 2   email              200 non-null    object
 3   customer_status    200 non-null    object
 4   response_type      200 non-null    object
 5   send_date          200 non-null    object
 6   open_date          200 non-null    object
 7   bounce_date        187 non-null    object
 8   subscriptions      200 non-null    int64
 9   conversions        200 non-null    int64
 10  click_date         195 non-null    object
 11  spam_reports       200 non-null    int64
 12  revenue_generated  200 non-null    object
 13  campaign_id	       200 non-null    object
dtypes: int64(3), object(11)
memory usage: 22.0+ KB

In [11]:
df_performance.describe()

       subscriptions  conversions  spam_reports
count     200.000000   200.000000    200.000000
mean        2.560000     1.560000      1.070000
std         1.720816     1.137042      0.817583
min         0.000000     0.000000      0.000000
25%         1.000000     1.000000      0.000000
50%         2.500000     2.000000      1.000000
75%         4.000000     3.000000      2.000000
max         5.000000     3.000000      2.000000

In [13]:
df_performance.shape

(200, 14)

In [15]:
df_performance.duplicated().sum()

0

In [17]:
df_performance.isnull().sum()

customer id           0
name                  0
email                 0
customer_status       0
response_type         0
send_date             0
open_date             0
bounce_date          13
subscriptions         0
conversions           0
click_date            5
spam_reports          0
revenue_generated     0
campaign_id\t         0
dtype: int64

In [8]:
#change datatype to date
df_performance['open_date']=pd.to_datetime(df_performance['open_date'])
df_performance['click_date']=pd.to_datetime(df_performance['click_date'])
#get avarage days between open date & click date
diffday=np.mean(df_performance['open_date']-df_performance['click_date'])
#fill null values
df_performance['click_date'].fillna(df_performance['open_date']+diffday,inplace=True)

/tmp/ipython-input-8-2056231794.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_performance['click_date'].fillna(df_performance['open_date']+diffday,inplace=True)

In [19]:
df_performance['click_date'].isnull().sum()

5

In [32]:
Marketing_AdsPerformance=pd.read_excel('C:/Users/arwa abdalazim/Downloads/Media Compaigns/Media Compaigns/Marketing_AdsPerformance_2024.xlsx')
Marketing_AudienceInsights=pd.read_excel('C:/Users/arwa abdalazim/Downloads/Media Compaigns/Media Compaigns/Marketing_AudienceInsights_2024.xlsx')
Marketing_Campaigns=pd.read_excel('C:/Users/arwa abdalazim/Downloads/Media Compaigns/Media Compaigns/Marketing_Campaigns_2024.xlsx')

In [34]:
Marketing_Campaigns.head()

,Campaign ID,Campaign Name,Platform,Start Date,End Date,Budget,Objective
0,CAMPAIGN_001,New Year Boost,TikTok,2024-02-27,2024-03-05,17376.32,Awareness
1,CAMPAIGN_002,Spring Sale,Facebook,2024-02-28,2024-04-11,35451.48,Conversions
2,CAMPAIGN_003,Ramadan Promo,Instagram,2024-02-29,2024-03-10,6430.22,Awareness
3,CAMPAIGN_004,Summer Splash,TikTok,2024-03-01,2024-05-05,32090.84,Conversions
4,CAMPAIGN_005,Back to School,TikTok,2024-03-02,2024-05-10,36559.62,Traffic

In [36]:
Marketing_Campaigns['Platform'].unique()

array(['TikTok', 'Facebook', 'Instagram'], dtype=object)

In [38]:
Marketing_Campaigns['Objective'].unique()

array(['Awareness', 'Conversions', 'Traffic'], dtype=object)

In [40]:
Marketing_Campaigns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Campaign ID    20 non-null     object
 1   Campaign Name  20 non-null     object
 2   Platform       20 non-null     object
 3   Start Date     20 non-null     datetime64[ns]
 4   End Date       20 non-null     datetime64[ns]
 5   Budget         20 non-null     float64
 6   Objective      20 non-null     object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 1.2+ KB

In [42]:
Marketing_Campaigns.duplicated().sum()

0

In [44]:
Marketing_Campaigns.isnull().sum()

Campaign ID      0
Campaign Name    0
Platform         0
Start Date       0
End Date         0
Budget           0
Objective        0
dtype: int64

In [46]:
Marketing_AdsPerformance.head()

,Ad ID,Campaign ID,Date,Ad Type,Impressions,Clicks,Conversions,Cost
0,CAMPAIGN_001_AD_505,CAMPAIGN_001,2024-11-25,Video,19726,2269,81,815.22
1,CAMPAIGN_001_AD_674,CAMPAIGN_001,2024-10-02,Video,98912,4888,229,2703.69
2,CAMPAIGN_001_AD_508,CAMPAIGN_001,2024-07-04,Image,19131,4274,262,363.64
3,CAMPAIGN_001_AD_148,CAMPAIGN_001,2024-02-26,Image,83240,1410,415,2073.40
4,CAMPAIGN_001_AD_710,CAMPAIGN_001,2024-02-02,Video,51019,4981,249,1634.43

In [48]:
Marketing_AdsPerformance['Ad Type'].unique()

array(['Video', 'Image', 'Story'], dtype=object)

In [50]:
Marketing_AdsPerformance.isnull().sum()

Ad ID          0
Campaign ID    0
Date           0
Ad Type        0
Impressions    0
Clicks         0
Conversions    0
Cost           0
dtype: int64

In [52]:
Marketing_AdsPerformance.duplicated().sum()

0

In [54]:
Marketing_AdsPerformance.shape

(151, 8)

In [56]:
Marketing_AudienceInsights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Campaign ID      127 non-null    object
 1   Gender           127 non-null    object
 2   Age Group        127 non-null    object
 3   Region           127 non-null    object
 4   Reach            127 non-null    int64
 5   Engagement Rate  127 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 6.1+ KB

In [58]:
Marketing_AudienceInsights.shape

(127, 6)

In [60]:
Marketing_AudienceInsights.duplicated().sum()

0

In [62]:
Marketing_AudienceInsights.isnull().sum()

Campaign ID        0
Gender             0
Age Group          0
Region             0
Reach              0
Engagement Rate    0
dtype: int64